:root {
    --color--p: black;
    --color--s: white;
    --color--hoverNav: rgb(219, 24, 24);
}

*::after,
::before {
    box-sizing: border-box;
}

* {
    /* border: 1px solid; */
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 3rem;
    min-height: 100vh;
    background-color: var(--color--s);
    color: var(--color--p);
}


/* 
########################  
header
########################
*/

.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: 2em;
}

.nav {
    display: flex;
    gap: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
}

.nav__btn {
    text-decoration: none;
    color: var(--color--p);
}

.nav__btn:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 6px;
    background-color: var(--color--hoverNav);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.nav__btn--active::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 6px;
    background-color: var(--color--p);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.darkMode {
    text-align: right;
}

#darkMode {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: var(--color--p);
}

.container__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    cursor: pointer;
    border: 0;
}

.btn:active {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}


/* 
########################  
        container
########################
*/

.container {
    margin-bottom: 2em;
}

.calendario {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    border-top: 1px solid var(--color--p);
    border-left: 1px solid var(--color--p);
}

.calendario__celda {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 1em;
    border-right: 1px solid var(--color--p);
    border-bottom: 1px solid var(--color--p);
}

.calendario__celda:hover {
    cursor: pointer;
    background-color: var(--color--p);
    color: var(--color--s);
}